{% load staticfiles %}
<!DOCTYPE HTML>
	<HEAD>
		<TITLE>Вход</TITLE>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link type = "text/css" href = "{% static "style.css" %}" rel = "stylesheet"/>
	</HEAD>
	<BODY>
		<div id = "login">
			<form action="" method="post">{% csrf_token %}
				{{ form.as_p }}
					<input type="submit" value="Вход">
					<ul></ul>
					<input type="hidden" name = "next" value="{{ next }}"><a href="{% url 'registration' %}">Регистрация</a>
					<ul></ul>
					<a href="{% url 'registrationeditors' %}">Регистрация редакторов</a>
					<ul></ul>
					<a href="{% url 'articles' %}">Войти как гость</a>
			</form>
			<h5>{{ message }}</h5>
		</div>
	</BODY>
</HTML>